<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


  <display-name>Railway_Reservation_Syatem</display-name>
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>Railway.LoginServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/Login</url-pattern>  
  </servlet-mapping>
  <servlet>
  <servlet-name>viewTrains</servlet-name>
  <servlet-class>Railway.SearchServlets</servlet-class>  
  </servlet>
  <servlet-mapping>
  <servlet-name>viewTrains</servlet-name>
  <url-pattern>/view</url-pattern>  
  </servlet-mapping>
   <servlet>
  <servlet-name>signUp</servlet-name>
  <servlet-class>Railway.UserProfileServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  <servlet-name>signUp</servlet-name>
  <url-pattern>/SignUp</url-pattern>  
  </servlet-mapping>
   <servlet>
  <servlet-name>available</servlet-name>
  <jsp-file>/AvailableTrains.jsp</jsp-file>  
  </servlet>
  <servlet-mapping>
  <servlet-name>available</servlet-name>
  <url-pattern>/Available</url-pattern>  
  </servlet-mapping>
  <servlet>
  <servlet-name>classType</servlet-name>
  <servlet-class>Railway.BookingServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  <servlet-name>classType</servlet-name>
  <url-pattern>/classType</url-pattern>  
  </servlet-mapping>
</web-app>